@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#05131E;
    min-height: 100vh;
}

#time .circle {
  position: relative;
  height: 100px;
  width:100px;
  display: flex;
  align-items: center ;
  justify-content: center;
 /* background-color: steelblue;*/

}
#time .circle svg {
  transform: rotate(-90deg);
}

#time .circle svg circle {
  fill: none;
  stroke:black;
  stroke-width: 3px;
  
}


#time .circle svg circle:nth-child(2){
  stroke:var(--clr);
  stroke-width: 5px;
  fill:none;
  stroke-dasharray:295.5;
}




#time div{
  position: absolute;
  text-align: center;
}

#time div.ap{
  position: relative;
  transform: translateX(-10px);
}

#time, #date{
  display: flex;
  color: white;
  margin-top: 40px;
 /* background-color: yellow;*/
  gap:15px;
}
